<h1><%= @event.name %></h1>

<ul>
  <% @event.vehicles.each do |vehicle| %>
    <div class='row'>
      <div class='small-12 small-centered text-center columns'>
        <li><%= link_to vehicle.name, vehicle_path(vehicle) %></li>
      </div>
    </div>
  <% end %>
</ul>

<div class='row'>
  <div class='small-12 small-centered text-center columns'>
    <%= link_to "Add a vehicle", new_event_vehicle_path(@event) %>
  </div>
</div>



<%= 'Rideless Folks' %>
<ul><% @event.rideless_riders.each do |rider| %>
  <li><%= rider.fname %></li>
<% end %></ul>

<%= link_to "Add a rider", new_event_rider_path(@event) %>
