<h1><%= @vehicle.event.name %> - <%= @vehicle.name %></h1>
<h2>Current Passengers</h2>
<ul><% @vehicle.riders.each do |rider| %>
  <li><%= rider.fname %></li>
<% end %></ul>

<h2><%= 'Rideless Riders' %></h2>
<ul><% @vehicle.event.rideless_riders.each do |rider| %>
  <li><%= rider.fname %></li>
<% end %></ul>