<h1><%= @vehicle.event.name %> - <%= @vehicle.name %></h1>
<h2>Current Passengers</h2>
<ul><% @vehicle.riders.each do |rider| %>
  <li><%= rider.fname %></li>
<% end %></ul>

<h2><%= 'Rideless Riders' %></h2>
<ul><% @vehicle.event.rideless_riders.each do |rider| %>
  <li><%= rider.fname %></li>
<% end %></ul>

<div class='row'>
  <div class='small-6 text-center columns'>
    <div class='row'>
      <div class='small-12 small-cenered text-center columns'>
        <h3>Rideless</h3>
      </div>
    </div>

  </div>
  <div class='small-6 text-center columns'>
    <div class='row'>
      <div class='small-12 small-cenered text-center columns'>
        <h3>On this Ride</h3>
      </div>
    </div>
  </div>
</div>